
{% extends 'base.html' %}
{% block content %}
<h2>Add Task to {{ project.title }}</h2>
<form method="post">
	{{ form.hidden_tag() }}
	<div class="mb-3">{{ form.title.label }}{{ form.title(class="form-control") }}</div>
	<div class="mb-3">{{ form.description.label }}{{ form.description(class="form-control", rows=3) }}</div>
	<div class="mb-3">{{ form.due_date.label }}{{ form.due_date(class="form-control") }}</div>
	<div class="mb-3">{{ form.priority.label }}{{ form.priority(class="form-select") }}</div>
	<div class="mb-3">{{ form.assignees.label }}{{ form.assignees(class="form-select", multiple=True) }}</div>
	<div class="mb-3">{{ form.dependencies.label }}{{ form.dependencies(class="form-select", multiple=True) }}</div>
	{{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
